/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: auto;
  /*max-width: 50vw;*/
}
.centered-content > * {
  margin: 32px;
  width: 400px !important;
}
.centered-content > * > * {
  width: 100%;
}
.title {
  font-size: 30px;
  color: var(--lumo-primary-text-color);
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.submit-btn {
  margin-top: 32px;
}
